// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgba(0,0,0,0.1)
}

h1 {
  color: rgba(0,0,0,0.4);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  font-size: 25px;
}

h2 {
  font-size: 25px;
}

p {
    color: rgba(0,0,0,0.4);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  font-size: 15px;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.4);
    text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    font-size: 15px;
    &:hover {
      text-decoration: none;
      color: red;
    }
}

.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
